<h1>Welcome to trybNY</h1>

Want to join a tryb?
<%= link_to "Sign Up", signup_path%>
<br>
<br>
Have an account?
<%= link_to "Log In", login_path%>
<br>
<br>
<%= link_to "Log In with Google", '/auth/google_oauth2' %>