<h1>Select an activity</h1>

<h3><%if flash[:notice]%>
    <%=flash[:notice]%>
    <%end%></h3>

<body>

<div class="ui grid">
  <% @activities.each do |activity| %>
      <%= link_to activity.title, activity_path(activity)%></a>
    <br>
     <%= activity.description %>
    <%= button_to "Book Reservation", new_reservation_path, class: "btn", method: :get %>
  <%end %>
</div>

</body>